head{
    color: white;
}
body{
    color: rgb(92, 14, 14);
}

h1{
    color:black;
    font-size: 10px;
}
#spanId{
    font-size: 18px;
    width: 18px;
    margin:50px; 
    
}
#thirdDiv{
    background-color: rgb(95, 65, 65);
    height: 600px;
    width: 500px;
    padding: 50px;
    border: 10px solid red; 
    
}
span{
    font-size: 18px;
    margin:50px;
    border-radius: 0.6cm;
    border-style: dashed
}
div {
    height: 600px; 
    width:  500px; 
    color: rgb(68, 59, 59);
    fill: 50px;
}