head{
    background-color: black;
    color: black;
}
body{
    color: rgb(92, 14, 14);
    background-color: white;
}

h1{
    color:black;
    font-size: 10px;
}

#spanId{
    font-size: 18px;
    width: 18px;
    margin:50px; 
    
}
#thirdDiv{
    background-color: rgb(95, 65, 65);
    height: 600px;
    width: 500px;
    padding: 50px;
    border: 10px solid red; 
    
}
span{
    font-size: 18px;
    margin:50px;
    border-radius: 0.6cm;
    border-style: dashed
}

img{
    width: 400px;
}